<div class="h-full bg-secondary">
  <div
    class="md:hidden text-gray-400 cursor-pointer absolute -right-10 top-4 bg-secondary rounded-md"
    (click)="closeMenu()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-x"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M18 6l-12 12" />
      <path d="M6 6l12 12" />
    </svg>
  </div>
  <!-- top bar -->
  <div class="bg-primary py-2 px-4 flex justify-between items-center">
    <div class="flex flex-1 items-center gap-4">
      <img
        [src]="authService.loggedInUser()?.imageUrl"
        alt="profile picture"
        class="w-[40px] h-[40px] object-contain rounded-full"
      />
      <h3 class="text-white font-bold">
        {{ authService.loggedInUser()?.username | titlecase }}
      </h3>
      <div class="ml-auto cursor-pointer" (click)="onLogout()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-logout text-gray-400"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"
          />
          <path d="M9 12h12l-3 -3" />
          <path d="M18 15l3 -3" />
        </svg>
      </div>
    </div>
  </div>
  <!-- end top bar -->
  <!-- sidebar -->
  <div class="w-full">
    <!-- search bar -->
    <div class="relative w-full py-2 px-4">
      <div class="flex justify-between items-center">
        <input
          type="text"
          placeholder="Search new chat"
          class="outline-none text-white bg-input py-1 px-4 md:px-10 rounded flex-1"
          [(ngModel)]="searchInput"
          (input)="onSearchInputChange()"
        />
      </div>

      @if (searchInput) {
        <div
          class="bg-input rounded absolute z-10 top-12 right-4 left-4 min-h-10"
        >
          @if (searchedUsers().length > 0 && !spinnerService.isSearching()) {
            @for (user of searchedUsers(); track user.username) {
              <app-conversation
                [user]="user"
                (searchCleared)="onSearchCleared()"
              />
            }
          } @else if (
            searchedUsers().length <= 0 && !spinnerService.isSearching()
          ) {
            <div class="mt-2 text-center">
              <small class="text-[#667781]">0 users found</small>
            </div>
          } @else {
            <div class="flex justify-center items-center h-full">
              <div
                class="animate-spin rounded-full h-8 w-8 mt-1 border-t-4 border-b-4 border-gray-400"
              ></div>
            </div>
          }
        </div>
      }
    </div>
    <!-- end search bar -->
    <!-- users -->
    <div
      class="flex flex-col overflow-y-auto"
      style="max-height: calc(100vh - 105px)"
    >
      @if (
        chatService.userConversations().length > 0 &&
        !spinnerService.sidebarIsLoading()
      ) {
        @for (
          userConversation of chatService.userConversations();
          track userConversation._id
        ) {
          <app-conversation
            [user]="getReceiverUser(userConversation)"
            [conversation]="userConversation"
            [unreadMessages]="getUnreadUserMessages(userConversation)"
          ></app-conversation>
        }
      } @else if (
        chatService.userConversations().length <= 0 &&
        !spinnerService.sidebarIsLoading()
      ) {
        <div class="py-16 text-center">
          <small class="text-[#667781]"
            >No chats, contacts or messages found</small
          >
        </div>
      } @else if (spinnerService.sidebarIsLoading()) {
        <app-spinner />
      }
    </div>
    <!-- users end -->
  </div>
</div>
