<div class="h-full bg-secondary">
  <div
    class="md:hidden text-gray-400 cursor-pointer absolute -right-10 top-4 bg-secondary rounded-md"
    (click)="closeMenu()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-x"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M18 6l-12 12" />
      <path d="M6 6l12 12" />
    </svg>
  </div>
  <app-topbar class="bg-primary py-2 px-4 flex justify-between items-center" />
  <!-- sidebar -->
  <div class="w-full">
    <app-search />
    <app-conversations />
  </div>
</div>
