<div class="h-full w-full flex flex-cols bg-primary">
  <div
    class="absolute top-4 left-4 cursor-pointer text-gray-400"
    (click)="openMenu()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M4 6l16 0" />
      <path d="M4 12l16 0" />
      <path d="M4 18l16 0" />
    </svg>
  </div>
  <div
    class="h-full w-full flex flex-col gap-2 justify-center items-center text-white"
  >
    <h2 class="text-2xl">
      Welcome {{ authService.loggedInUser()?.username | titlecase }}
    </h2>
    <h4 class="">Select a user to start messaging</h4>
  </div>
</div>
