@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #2a3942 #111b21;
}

.background-img {
  background-image: url("/bg-chat.png");
  background-color: black;
  position: relative;
}
