@if (chatService.selectedUser()) {
  <div class="h-full flex flex-col">
    <div
      class="md:hidden absolute top-4 left-4 cursor-pointer text-gray-400"
      (click)="openMenu()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M4 6l16 0" />
        <path d="M4 12l16 0" />
        <path d="M4 18l16 0" />
      </svg>
    </div>
    <!-- top bar -->
    <div
      class="bg-primary py-2 px-4 flex flex-row-reverse md:flex-row w-full items-center gap-4"
    >
      <img
        [src]="chatService.selectedUser()?.imageUrl"
        alt="profile picture"
        class="w-[40px] h-[40px] object-cover rounded-full md:ml-0"
      />
      <h3 class="font-bold text-white w-max ml-auto md:ml-0">
        {{ chatService.selectedUser()?.username | titlecase }}
      </h3>
    </div>
    <!-- end top bar -->
    <div class="background-img relative flex-1">
      <!-- message area -->
      <div
        class="absolute bg-secondary/95 h-full w-full no-scrollbar overflow-y-scroll"
        #chatArea
      >
        <div class="flex-1 py-5 px-10 md:px-20 text-white">
          @if (chatService.selectedUserMessages().length > 0) {
            @for (
              message of chatService.selectedUserMessages();
              track message._id
            ) {
              <div
                class="relative w-max rounded-md p-2 pr-16 text-sm mb-2 max-w-[70%]
          {{
                  authService.loggedInUser()?._id === message.senderId
                    ? 'bg-tertiary rounded-tr-none text-sm ml-auto'
                    : 'bg-primary rounded-md rounded-tl-none'
                }}"
              >
                <p>{{ message.message }}</p>
                <small
                  class="absolute right-2 bottom-0 text-[hsla(0,0%,100%,0.6)]"
                  >{{ message.createdAt | date: "hh:mm a" : "+0000" }}
                </small>
              </div>
            }
          }
        </div>
        <!-- end message area -->
      </div>
    </div>
    <!-- bottom bar -->
    <div class="bg-primary py-2 px-4 flex items-center gap-4">
      <input
        type="text"
        placeholder="Type a message"
        class="outline-none text-white bg-input py-2 px-5 rounded flex-1"
        [(ngModel)]="messageInput"
        (keyup.enter)="onSendMessage()"
      />
      <div class="cursor-pointer" (click)="onSendMessage()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-send text-gray-400"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M10 14l11 -11" />
          <path
            d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5"
          />
        </svg>
      </div>
    </div>

    <!-- end bottom bar -->
  </div>
} @else {
  <div class="h-full w-full flex flex-cols bg-primary">
    <div
      class="md:hidden absolute top-4 left-4 cursor-pointer text-gray-400"
      (click)="openMenu()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M4 6l16 0" />
        <path d="M4 12l16 0" />
        <path d="M4 18l16 0" />
      </svg>
    </div>
    <div
      class="h-full w-full flex flex-col gap-2 justify-center items-center text-white"
    >
      <h2 class="text-2xl">
        Welcome {{ authService.loggedInUser()?.username | titlecase }}
      </h2>
      <h4 class="">Select a user to start messaging</h4>
    </div>
  </div>
}
