<div class="bg-black h-[100vh]">
  <div class="bg-[#00a884] h-[222px]"></div>
  <div
    class="bg-white w-[90%] max-w-[1000px] mx-auto py-5 -translate-y-20 rounded"
  >
    @if(errorMessage) {
    <p class="text-red-500 text-xs text-center">{{ errorMessage }}</p>
    }
    <!-- form -->
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="p-10 flex flex-col gap-4 max-w-[50%] mx-auto">
        <div class="">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          >
            Username
          </label>
          <input
            class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full mb-3 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-btnHover"
            type="text"
            placeholder="JaneWilde"
            name="username"
            formControlName="username"
          />
          @if(registerForm.controls["username"].invalid &&
          (registerForm.controls["username"].touched ||
          registerForm.controls["username"].dirty)){
          @if(registerForm.controls["username"].errors?.["required"]) {
          <p class="text-red-500 text-xs">Username is required</p>
          } @if(registerForm.controls["username"].errors?.["minlength"]) {
          <p class="text-red-500 text-xs">
            Minimum length should be at least 4
          </p>
          } }
        </div>

        <div class="">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          >
            Email
          </label>
          <input
            class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full mb-3 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-btnHover"
            type="text"
            placeholder="jane@gamil.com"
            name="email"
            formControlName="email"
          />
          @if(registerForm.controls["email"].invalid &&
          (registerForm.controls["email"].touched ||
          registerForm.controls["email"].dirty)){
          @if(registerForm.controls["email"].errors?.["required"]) {
          <p class="text-red-500 text-xs">Email is required</p>
          }} @if(registerForm.controls["email"].errors?.["email"]) {
          <p class="text-red-500 text-xs">Email is not valid</p>
          }
        </div>

        <div class="">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          >
            Password
          </label>
          <input
            class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full mb-3 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-btnHover"
            type="password"
            placeholder="*****"
            name="password"
            formControlName="password"
          />
          @if(registerForm.controls["password"].invalid &&
          (registerForm.controls["password"].touched ||
          registerForm.controls["password"].dirty)){
          @if(registerForm.controls["password"].errors?.["required"]) {
          <p class="text-red-500 text-xs">Password is required</p>
          } @if(registerForm.controls["password"].errors?.["minlength"]) {
          <p class="text-red-500 text-xs">
            Minimum length should be at least 4
          </p>
          }}
        </div>
        <button
          class="self-center bg-[#00a884] text-white font-bold py-2 px-4 rounded-full"
          type="submit"
        >
          Register
        </button>
        <p class="text-sm text-center">
          Already have an account? <a routerLink="/login">Login here</a>
        </p>
      </div>
    </form>
    <!-- end form -->
  </div>
</div>
